* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}


/* .cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart p{
  font-size: 20px;
}

.catalogo {
  background-color: rgba(230, 230, 230, 0.705);
  font-size: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.count {
  border: 1px solid rgb(57, 112, 50);
  margin: 46px 565px;
  padding: 21px 41px;
  overflow: hidden;
  border-radius: 45px;
}

    display: flex;
    align-items: center;
    flex-direction: column;

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.number Button{
  padding: 5px;
  margin: 25px;
  color: #fff;
  background-color: #508d62;
  border-radius: 15px;
}

.count p{
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  margin: 5px;
  padding: 15px;
}


.add Button {
  margin: 25px;
  color: #000;
  background-color: #7aca92;
  border-radius: 15px;
}

/* .producto {
  overflow: hidden;
  border: 1px solid #dbdbdb;
  margin: 36px 415px;
  padding: 21px 41px;
  border-radius: 45px;
} */

/* .producto p{
  font-size: 20px;

}

.producto Button {
  margin: 25px;
  color: #000;
  background-color: #58b674;
  border-radius: 15px;
}

.producto .stock {
  color: #000;
} */ 