.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.customList {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.customList > button {
  color: #060d0f;
  background-color: white;
  text-decoration: none;
  padding: 5px px;
  font-size: 17px;
  margin: 10px 10px;
  font-family: Arial;
  border-radius: 22px;
  border: none;

}

.customList > button a {
  text-decoration: none;
  color: #060d0f;
}

.customList > button:hover {
  background-color: rgba(236, 236, 231, 0.555);
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cart p{
  font-size: 20px;
  
}

.catalogo {
  background-color: rgba(230, 230, 230, 0.705);
  font-size: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.count {
  border: 1px solid rgb(57, 112, 50);
  margin: 46px 565px;
  padding: 21px 41px;
  overflow: hidden;
  border-radius: 45px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.number Button{
  padding: 5px;
  margin: 25px;
  color: #fff;
  background-color: #508d62;
  border-radius: 15px;
}

.count p{
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  margin: 5px;
  padding: 15px;
}


.add Button {
  margin: 25px;
  color: #000;
  background-color: #7aca92;
  border-radius: 15px;
}

.producto {
  overflow: hidden;
  border: 1px solid #dbdbdb;
  margin: 36px 415px;
  padding: 21px 41px;
  border-radius: 45px;
}

.producto p{
  font-size: 20px;

}

.producto Button {
  margin: 25px;
  color: #000;
  background-color: #58b674;
  border-radius: 15px;
}

.producto .stock {
  color: #000;
}